h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 270412016-01
        p.mb-0 Identificar las propiedades y características de los sustratos teniendo en cuenta su utilización en los cultivos urbanos.


