h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Generalidades de la agricultura urbana', 'main.html#page/generalidades/')
                    +navTemaItem('2', 'Sustratos en la agricultura urbana', 'main.html#page/sustratos-agricultura/')
                    +navTemaItem('3', 'Otros sustratos orgánicos', 'main.html#page/otros-sustratos/')
                    +navTemaItem('4', 'Sustratos minerales', 'main.html#page/sustratos-minerales/')
                    +navTemaItem('5', 'Sustratos fabricados', 'main.html#page/sustratos-fabricados/')
                    +navTemaItem('3', 'Recomendaciones para el uso de sustratos', 'main.html#page/recomendaciones/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/index.html')
