.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Manejo de Sustratos y Fertilización en Agricultura Urbana
            h1.curso-titulo Manejo de Sustratos en la Agricultura Urbana

            .brand-line-primary

            p.curso-descripcion Este material de formación está  relacionado con el manejo de sustratos y fertilización en la agricultura urbana, tema que de una u otra forma ayuda a combatir diversos problemas como la contaminación, el hambre, la sequía, entre otros. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")