h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Zonas de producción', 'main.html#page/zonas-produccion/')
                    +navTemaItem('2', 'Operaciones para mejorar las propiedades de los sustratos', 'main.html#page/operaciones/')
                    +navTemaItem('3', 'Limpieza del sustrato', 'main.html#page/limpieza/')
                    +navTemaItem('4', 'Desinfección del sustrato', 'main.html#page/desinfeccion/')
                    +navTemaItem('5', 'Equipos y materiales requeridos en agricultura urbana', 'main.html#page/equipos-requeridos/')
                    +navTemaItem('6', 'Equipo de protección personal', 'main.html#page/proteccion-personal/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')
