.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Gómez, R. J. 2014 Agricultura urbana en América Latina y Colombia: perspectivas y elementos agronómicos diferenciadores
                td Trabajo de Grado
                td 
                    a(href="media/documentos/complementarios/MC_AA1_Agricultura_urbana_America_Latina_y_Colombia.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td FAO, 2012. La Agricultura Urbana y su contribución a la Seguridad Alimentaria.

                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA1_La_Agricultura_urbana_y_su_contribucion_a_la_seguridad_alimentaria.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

            tr
                td FAO, Prácticas para la producción de huertos familiares urbanos.
                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA1_Practicas_para_la_produccion_de_huertos_familiares_urbanos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


                                       