.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Bauhaus. Manual Iniciación Huerto Urbano.
                td Manual
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Manual_iniciacion_huerto_urbano.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td Jardín Botánico de Medellin. Agricultura Urbana: Construyamos Juntos Huertos Nuestros.

                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MF_AA2_Agricultura_urbana_construyamos_juntos_huertos_nuestros.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

            tr
                td FAO, Prácticas para la producción de huertos familiares urbanos.
                td Cartilla
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Practicas_para_la_produccion_de_huertos_familiares_urbanos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


                                       