.container

  ol

    li 
      p Agriculturers. (2016, agosto). ¿Qué es la solarización del suelo? 
        a(href="https://agriculturers.com/que-es-lasolarizacion-del-suelo/", target="_blank") https://agriculturers.com/que-es-lasolarizacion-del-suelo/

    li 
      p Burés, S. (s.f.). Manejo de sustratos [capítulo de curso]. 
        a(href="http://www.juntadeandalucia.es/medioambiente/consolidado/publicacionesdigitales/80-373_I_CURSO_DE_GESTION_DE_VIVEROS_FORESTALES/80-373/7_MANEJO_DE_SUSTRATOS.PDF", target="_blank") http://www.juntadeandalucia.es/medioambiente/consolidado/publicacionesdigitales/80-373_I_CURSO_DE_GESTION_DE_VIVEROS_FORESTALES/80-373/7_MANEJO_DE_SUSTRATOS.PDF

    li 
      p Cevallos, F., & Calderón Sáenz, F. (2001, mayo). Sustratos. 
        a(href="http://www.drcalderonlabs.com/Publicaciones/Los_Sustratos.htm", target="_blank") http://www.drcalderonlabs.com/Publicaciones/Los_Sustratos.htm

    li 
      p FAO. (2002). El Cultivo Protegido en Clima Mediterráneo: capítulo 5: medios y técnicas de producción [capítulo de guía virtual]. 
        a(href="http://www.fao.org/3/S8630S/s8630s07.htm", target="_blank") http://www.fao.org/3/S8630S/s8630s07.htm

    li 
      p Salamanca Córdoba, N. L. (2016). Balance del programa de agricultura urbana liderado por el jardín botánico de Bogotá José Celestino MUTIS [Tesis de pregrado]. 
        a(href="http://repository.udistrital.edu.co/bitstream/11349/4921/1/SalamancaCordobaNestorLeonardo2016.pdf", target="_blank") http://repository.udistrital.edu.co/bitstream/11349/4921/1/SalamancaCordobaNestorLeonardo2016.pdf

    li 
      p Secretaría del trabajo y previsión social- México. (2010). Desinfección de suelos y sustratos agrícolas [cartilla virtual]. 
        a(href="http://www.stps.gob.mx/bp/secciones/dgsst/publicaciones/prac_seg/prac_chap/PS%20Desinfecci%C3%B3n%20de%20Suelos%20y%20Sustratos%20Agricolas.pdf", target="_blank") http://www.stps.gob.mx/PS%20Desinfecci%C3%B3n%20de%20Suelos%20y%20Sustratos%20Agricolas.pdf.