include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 4. Sustratos minerales


    .header-ecored#tema-41
        h2 4.1 Roca fosfórica 


    p Conocida también como fosforita, su principal uso es como fertilizante para muchos cultivos dado su alto contenido de fosforo y calcio en forma asimilable para las plantas. Sin embargo, este producto mineral también es utilizado como sustrato en la agricultura urbana debido a sus características físicas y químicas que proveen un medio excelente para el desarrollo de las plantas.

    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s1.svg").img-fluid.mb-3.mb-md-0

    .header-ecored#tema-42
        h2 4.2 Arena

    p La arena más utilizada en la agricultura urbana es la de los ríos, con granulometría entre 0,5 y 2 mm de diámetro, su densidad aparente es igual a la de la grava, y su capacidad de retención de agua es media. Su capacidad de aireación disminución con el tiempo debido a la compactación. 


    p.font-weight-bolder Otras características normales de la arena son las siguientes:
    
    ul.bg-color-dark
        li
            span Este sustrato facilita el manejo de malas hierbas.Liviano.
        li
            span Se recomienda utilizar soluciones nutritivas líquidas para evitar la concentración de sales. 
        li
            span Si el grano es muy fino, la aireación es menor, por eso se prefieren partículas de tamaño grueso.
        li
            span Mayor acumulación de humedad, por tal motivo se recomienda mezclar con turbas u otros sustratos. 
        li
            span Su pH varía entre 4 y 8.
        li
            span Su capacidad de intercambio catiónico es nula.
            

    .header-ecored#tema-43
        h2 4.3 Perlita

    p Este sustrato es muy utilizado por la óptima humedad y oxigenación que brinda a los vegetales que se desarrollan sobre él. Además, es inerte, estéril, no presenta patógenos ni elementos tóxicos, de acuerdo con su granulometría su retención de humedad está entre el 27 y el 35%.
  
    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s3.svg").img-fluid


    p Se puede utilizar en mezcla con otros materiales como turba o suelo, mejorando su estructura y evitando su compactación. No se recomienda para la siembra de vegetales donde se utilicen sus raíces o bulbos, porque puede causar daños sobre la parte comestible de las plantas al éstas ser arrancadas. 

    .header-ecored#tema-44
        h2 4.4 Vermiculita

    p Es un sustrato mineral formado por silicatos de hierro o magnesio, con alta capacidad de retención de agua y tiene algunos elementos nutricionales para las plantas como potasio, magnesio, calcio y amonio.

    p Es un material muy liviano que tiene la especial característica de multiplicar su volumen entre 8 y 20 veces por el efecto de determinadas temperaturas. 

    p Un excelente sustrato para la agricultura urbana se obtiene mezclando vermiculita con fibra de coco o turba y lombricompost. 


    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s4.svg").img-fluid


    p Actúa como regulador de humedad por medio de su capacidad de retención de agua que es capaz de absorber el exceso de humedad de la tierra y liberarlo posteriormente de manera progresiva.
    

    .header-ecored#tema-45
        h2 4.5 Piedra pómez


    p Es un sustrato de origen volcánico, por lo tanto, en determinadas regiones de Colombia es relativamente fácil de conseguir. Sus principales características son que posee una retención de agua del 38%, tienen buena estabilidad física y durabilidad y, además, es un material que no tiene presencia de microorganismos. 

    p En algunas ocasiones puede presentar problemas químicos por exceso de Azufre y de Boro, lo cual puede ser fácilmente solucionado por medio de un lavado del sustrato utilizando agua caliente. 

    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s5.svg").img-fluid                

    .header-ecored#tema-46
        h2 4.6 Escorias de metales o carbón 

    p Es un sustrato muy fino que se deriva de la fundición de metales o minerales en hornos o calderas. También es el residuo de la quema de carbón, el cual es muy utilizado por sus características para propiciar el enraizamiento de muchas plantas.
 
    p El principal limitante de este sustrato es su granulometría, pues cuando es muy fina, produce problemas de encharcamiento y cuando es muy gruesa tienen muy baja retención de humedad.

    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s6.svg").img-fluid                


    .header-ecored#tema-47
        h2 4.7 Gravas

    p Es un sustrato compuesto por partículas de rocas trituradas, las más recomendadas en agricultura son aquellas procedentes de ríos, con formas redondeadas y con tamaños comprendidos entre 5 y 15 mm. 
 
    p.text-center.my-5
        img(src="assets/images/pages/tema-4/s7.svg").img-fluid                

    p.font-weight-bolder Las principales características de este sustrato son:

    ul.bg-color-dark
        li 
            span Su densidad aparente es de 1.500-1.800 kg/m3.
        li 
            span Poseen una buena estabilidad estructural.
        li 
            span Su capacidad de retención del agua es baja. 
        li 
            span Su porosidad es elevada más del 40% del volumen. 
        li 
            span Su uso como sustrato puede durar varios años.
        li 
            span Es necesario lavarlas antes de usarse. 


    p.my-5 Una condición muy importante de este sustrato, es que no es recomendable para realizar cultivos en los que la parte comestible sea la raíz o bulbos, ya que la grava puede ocasionar daños en estas partes de las plantas y quedar inservibles para el consumo. 