include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 6. Recomendaciones para el uso de sustratos

    p Antes de seleccionar el sustrato para adelantar un proyecto de agricultura urbana, es necesario tener en cuenta una serie de recomendaciones muy importantes para lograr obtener excelentes producciones: 

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i1.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Cuando se utilizan estiércoles se debe evitar aquellos que provengan de animales que hayan sido tratados con hormonas y otros productos químicos.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i2.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Cuando se usa suelo, arena o grava, antes de la siembra se deben aplicar tratamientos para lograr su desinfestación.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i3.svg").img-fluid
                    p.card__copy 
                        span 
                            |  El sustrato debe seleccionarse de acuerdo con su disponibilidad en la zona y su valor económico.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i4.svg").img-fluid
                    p.card__copy 
                        span 
                            |  La profundidad de la cama de sustrato depende de las especies a sembrar, la parte comestible de la planta y de su sistema radicular. 

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i5.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Los sustratos utilizados en agricultura urbana deben brindar, anclaje, nutrición y porosidad.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i6.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Realizar mezclas de suelo, turba y lobricompost o compostaje, producen excelentes resultados para la plantas.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i7.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Con mezclas como la anterior se potencializan las propiedades físicas, químicas y biológicas de cada material para dar origen a un excelente sustrato. 

p.text-center.my-5
    img(src="assets/images/pages/tema-6/bg.svg").img-fluid                                 

.container.card-border-bottom    

    .card
        .card-body.bg-white-soft

            p.font-weight-bolder Otras recomendaciones que se deben tener en cuenta relacionadas con los sustratos usados en la agricultura urbana son:

            ul.bg-color-dark.my-5 
                li 
                    span El tamaño máximo 	de las partículas que conforman el sustrato debe ser 8  mm, por lo tanto, en la mayoría de ocasiones será necesario desmenuzar las partículas. 

                li 
                    span En cuanto a las características físicas, los sustratos serán porosos, con alta capacidad de retención de agua y una óptima relación entre agua y aire.

                li 
                    span Los sustratos utilizados deben ser estables y bien descompuestos cuando de materiales orgánicos se trata. 

                li 
                    span Es necesario que los sustratos no intervengan de forma directa en los procesos bioquímicos que suceden a nivel radicular de las plantas.

                li 
                    span Los sustratos puros o mezclados deben permitir un buen drenaje y garantizar que están libres de enfermedades y semillas de malezas.

                li 
                    span Se requiere además, que los sustratos sean livianos y fáciles de manejar.