include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 5. Sustratos fabricados


    #tema-51.header-ecored
        h2 5.1 Ladrillos o tejas molidas

    p Es un sustrato que en determinadas ocasiones puede resultar económico y fácil de conseguir, sobre todo en lugares cercanos a fábricas de estos elementos.

    p Debido a su porosidad, tienen una buena capacidad de retención de humedad, además, poseen una adecuado granulometría. Pero son pesados y complicados de manejar.


    p.text-center.my-5
        img(src="assets/images/pages/tema-5/s1.svg").img-fluid.mb-3.mb-md-0

    .header-ecored#tema-52
        h2 5.2 Icopor

    p También llamada espuma de poliestireno expandido, es un material que se utiliza de dos maneras: como sustrato para el sostenimiento de plántulas o como material de relleno para mezclarlo con algunos sustratos y hacerlos más livianos en los contenedores. 

    .header-ecored#tema-53
        h2 5.3 Espumas fenólicas

    p Es un sustrato completamente estéril, es decir, libre de hongos y bacterias muy utilizado para el crecimiento radicular de plantas de alto rendimiento y calidad.

    p Su capacidad de retención de agua y su aireación, lo hacen un material ideal para el desarrollo de las raíces de una forma higiénica. Por ser un sustrato inerte no tiene ninguna influencia en la absorción de nutrientes por parte de la planta, además, es un gran medio de anclaje para las plantas, lo que lo hace un material óptimo para el transporte, incluso en largos trayectos porque mantiene la humedad requerida por la planta. 

  
    p.text-center.my-5
        img(src="assets/images/pages/tema-5/s3.svg").img-fluid

    .header-ecored#tema-54
        h2 5.4 Lana de roca

    p Es un compuesto que se han utilizado como un sustrato innovador durante los últimos años. Para su fabricación se utilizan rocas basálticas que se funden a 1500°C, luego son vertidas en un cilindro que gira a gran velocidad, donde la roca fundida se alarga en diminutas fibras, es un proceso muy parecido al que sucede cuando se hace algodón de azúcar. Posteriormente la lana de roca, denominada también Rock-Wool, se comprime en bloques que son los que se utilizan como sustrato en la agricultura.


    p.text-center.my-5
        img(src="assets/images/pages/tema-5/s4.svg").img-fluid