include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h2 2.3 Características

    p Para obtener plantaciones productivas, es necesario que las características deseables de los sustratos se combinen con muchos otros factores como por ejemplo, el tipo de material vegetal de propagación utilizado, la especie vegetal, las condiciones climáticas, los sistemas y programas de fertilización y riego, entre otros.

    p Las características óptimas de los sustratos para obtener excelentes resultados en el crecimiento, desarrollo y producción de los cultivos son las siguientes:

    p.text-center.my-5
        img(src="assets/images/pages/tema-2/t23.svg").img-fluid

    .header-arrow.my-5.bg-brand-color-dark.my-6
        h3.text-center Las anteriores características de los sustratos se pueden resumir en diez que son las fundamentales:



    .row.justify-content-center.align-items-start.mt-5
        .col-12.col-md-5
            p.header-step
                span.header-step-number.text-color-orange 01
                span Retener humedad
            hr
            p.header-step
                span.header-step-number.text-color-orange 02
                span Permitir la aireación
            hr
            p.header-step
                span.header-step-number.text-color-orange 03
                span Ser estables físicamente
            hr
            p.header-step
                span.header-step-number.text-color-orange 04
                span Ser inertes químicamente
            hr

            p.header-step
                span.header-step-number.text-color-orange 05
                span Ser inertes biológicamente
            hr

        .col-12.col-md-5
            p.header-step
                span.header-step-number.text-color-orange 06
                span Tener buen drenaje
            hr
            p.header-step
                span.header-step-number.text-color-orange 07
                span Tener capilaridad

            hr

            p.header-step
                span.header-step-number.text-color-orange 08
                span Ser liviano

            hr
            p.header-step
                span.header-step-number.text-color-orange 09
                span Ser de bajo costo

            hr
            p.header-step
                span.header-step-number.text-color-orange 10
                span Estar disponible

            hr               