include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 6. Equipo de protección personal

    p En determinadas labores de agricultura urbana se recomienda que las personas utilicen equipo de protección personal, especialmente para la desinfección de sustratos.

    .header-arrow.my-5
        h3.text-center El equipo de protección personal (EPP) base para esta labor debe constar de: 

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i1.svg").img-fluid
                    .card__copy 
                        #tema-41.header-ecored.m-0
                            h2 6.1 Guantes                      
                        
                        p.mt-5 
                            |  Se recomiendan de caucho o de carnaza, su principal función es mantener las manos del trabajador lejos del contacto de cualquier tipo de producto químico o de sustancias contaminantes. Son muy útiles cuando se tengan heridas en las manos, porque evitan que se vuelvan mayores y reducen el riesgo de que éstas se infecten a causa de las diferentes sustancias con las que se trabajan los sustratos en agricultura urbana.


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i2.svg").img-fluid
                    .card__copy 
                        #tema-42.header-ecored.m-0
                            h2 6.2 Gafas                   
                        
                        p.mt-5  
                            |  Son muy importantes para evitar la contaminación de los ojos por alguna sustancia utilizada durante las labores del cultivo.


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i3.svg").img-fluid
                    .card__copy 
                        #tema-43.header-ecored.m-0
                            h2 6.3 Botas                   
                        
                        p.mt-5 
                            | Se recomiendan que sean de caucho para limitar el contacto directo de los pies con sectores encharcados o inundados que se presentan con mayor frecuencia en las zonas blandas.

    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i4.svg").img-fluid
                    .card__copy 
                        #tema-46.header-ecored.m-0
                            h2 6.4 Overol o ropa de trabajo                     
                        
                        p.mt-5 
                            |  Muy importante porque permite realizar las labores del cultivo de una manera más cómoda y segura. 


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media.bg-white
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-6/i5.svg").img-fluid
                    .card__copy 
                        #tema-45.header-ecored.m-0
                            h2 6.5 Gorra o sombrero 
                    
                        
                        p.mt-5 
                            | Se requiere para proteger de los rayos del sol la cabeza y la cara de las personas que se encargan de realizar las labores en las huertas urbanas.                                                   