include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 1.1 Principios

    p Los principios bajo los cuales se desarrolla la agricultura urbana son los siguientes:
    
    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i1.svg").img-fluid
                    p.card__copy 
                        span 
                            | Promoción de hábitos de vida saludable y buenas prácticas de alimentación y nutrición.
    

    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i2.svg").img-fluid
                    p.card__copy 
                        span 
                            | Accesibilidad a alimentos saludables, diversos y de calidad.


    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i3.svg").img-fluid
                    p.card__copy 
                        span 
                            | Fomento a la producción limpia, ecológica y sostenible.


    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i4.svg").img-fluid
                    p.card__copy 
                        span 
                            | Aprovechamiento, uso y manejo de residuos orgánicos para la reutilización en la agricultura urbana.

    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i5.svg").img-fluid
                    p.card__copy 
                        span 
                            | Aprovechamiento y uso creativo del tiempo libre, mediante el trabajo familiar, comunitario y asociativo.



    .row.justify-content-center.mt-5

        .col-12.col-sm-10.col-md-9
            .card-media.bg-brand-color-secondary
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-1/i6.svg").img-fluid
                    p.card__copy 
                        span 
                            | Fortalecimiento de la participación comunitaria, la organización y la inclusión social.                           

    .header-arrow.my-5.bg-brand-color-dark.my-6
        h3.text-center La agricultura urbana se fundamenta en tres pilares <br>esenciales:                      


    .card.mb-5.bg-transparent
        img.card-img-top(src='assets/images/pages/tema-1/pilar1.svg')

        .card-body.bg-white-soft
            p.header-step
                span.header-step-number.text-color-orange.mr-1 
                    img.card-img-top(src='assets/images/pages/tema-2/ico-pro-fis.svg')
                span.h3.text-brand-color-dark.font-weight-bold.mb-0.mt-1
                    | Propiedades Físicas

            p.my-5 Debido en primer lugar a la utilización de los desechos de cocina para elaborar abonos orgánicos que son utilizados en la agricultura urbana; también a la reutilización de recipientes para la elaboración de los contenedores para la siembra de las semillas.

            p.my-5 Además, a través de la agricultura urbana muchas personas encuentran una oportunidad para entrar en contacto con la naturaleza y salirse de su rutina diaria, esto produce bienestar y satisfacción, lo que contribuye al mejoramiento de la calidad de vida y al logro de una sociedad más equilibrada y armónica. 

            p.my-5 Otro factor importante lo constituye la aplicación de buenas prácticas agrícolas dentro de las parcelas de la agricultura urbana, lo cual da como resultado alimentos obtenidos sin la utilización de productos químicos tóxicos.

    .card.mb-5.bg-transparent.mt-6
        img.card-img-top(src='assets/images/pages/tema-1/pilar2.svg')

        .card-body.bg-white-soft
            p.header-step
                span.header-step-number.text-color-orange.mr-1 02
                span.h3.text-brand-color-dark.font-weight-bold.mb-0.mt-1
                    | Seguridad Alimentaria

            p.my-5 El hambre y la pobreza son fenómenos que han sido consecuencia de la migración a las ciudades de poblaciones rurales debido a múltiples factores, en Colombia, por ejemplo, en gran medida, como consecuencia del conflicto armado que se dio durante tantos años.

            p.my-5 Esta migración produce el crecimiento de zonas con pocas oportunidades para acceder a alimentos. Por la tanto, la agricultura urbana surge como una excelente opción para la seguridad alimentaria de esta franja de la población. 

            p.my-5 Según la FAO, la agricultura urbana contribuye a la seguridad alimentaria de tres maneras: aumentando la cantidad de alimentos disponibles; aumentando el grado de frescura de los alimentos que llegan al consumidor final y ofreciendo oportunidades de empleo. 

            a(href="http://www.fao.org/ag/agp/greenercities/es/microhuertos/index.html" target="_blank").media-link      
                .fa.fa-external-link.pr-2
                .media-link-title
                    p.ml-2 #[strong Enlace:] Enfoque de la FAO

    .card.mb-5.bg-transparent.mt-6
        img.card-img-top(src='assets/images/pages/tema-1/pilar3.svg')

        .card-body.bg-white-soft
            p.header-step
                span.header-step-number.text-color-orange.mr-1 03
                span.h3.text-brand-color-dark.font-weight-bold.mb-0.mt-1
                    | Desarrollo Humano Sostenible

            p.my-5 Existen diferentes aspectos con los que la agricultura urbana influye en la búsqueda de ciudades sustentables y avances en el desarrollo del tejido social:

            ul.bg-color-dark 
                li 
                    span Fortalecimiento de procesos organizativos y ayuda en la construcción social.
                li 
                    span Recuperación de valores en pro de la convivencia y ayuda a la reparación afectiva y social.
                li 
                    span Posibilita espacios de acercamiento con la naturaleza y genera participación ciudadana.
                li 
                    span Promueve la utilización de técnicas de reciclaje favoreciendo el mejoramiento de la calidad de vida.
                li 
                    span Estimula el sentido de ciudadanía a través de la recuperación ambiental de los espacios colectivos.
                li 
                    span Demanda tiempos parciales y permite desarrollar otras actividades, contrario a lo que sucede en la agricultura rural. 
                li 
                    span Genera ahorros y recursos económicos en los hogares, por la alta demanda actual de productos orgánicos.
                li 
                    span Genera momentos de esparcimiento y sosiego en unos estilos de vida cada vez más agitados. 

