include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container.card-border-bottom

    .header-ecored
        h1 3. Limpieza del sustrato

    p Es necesario anotar que los sustratos se utilizan para varios ciclos de cultivos, por lo tanto, son reutilizables incluso por años, mediante una preparación que se realiza antes de cada siembra y cuya intensidad depende del comportamiento del cultivo anterior. 

    p Sin bien es cierto, que eliminar todos los restos del cultivo anterior, es una labor que puede resultar demasiado dispendiosa, no por ello debe dejar de realizarse una limpieza lo más minuciosa posible. Ya que sí se llegan a dejar los residuos del cultivo anterior, se corre el riesgo de que entren en un proceso de descomposición lo cual produciría graves problemas de contaminación al sustrato que se verían reflejados en el desarrollo, crecimiento y producción del cultivo a sembrar.

    p.text-center.my-5
        img(src="assets/images/pages/tema-3/tema-31.svg").img-fluid.mb-3.mb-md-0    

    p La mejor alternativa para realizar una adecuada limpieza de los sustratos, es hacerlos pasar por un tamiz o por una zaranda con aberturas de un centímetro y así eliminar todos los residuos que estén presentes.