include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Zonas de Producción

    #tema-11.header-ecored
        h2 1.1 Zonas Blandas


    p Son los suelos que se encuentran en las zonas urbanas y que tienen una capa sobre la cual se puede cultivar, estas áreas se encuentran en zonas como antejardines, patios o lotes que se pueden localizar dentro de la ciudad o en zonas aledañas, que es cuando se configura la agricultura periurbana.
    
    p.text-center.my-5
        img(src="assets/images/pages/tema-1/t1.svg").img-fluid.mb-3.mb-md-0    
    
    p En las zonas blandas se pueden realizar trazados de los cultivos en diferentes formas, como por ejemplo, cuadrados, rectángulos, círculos, triángulos o cualquier otra forma. Independientemente de la forma del trazado, es importante considerar los caminos internos que debe tener el lote sembrado, los cuales facilitan el mantenimiento de la huerta, y la realización de todas las labores que se requieran para el normal desarrollo de los cultivos.

    p Una característica fundamental de las zonas blandas, es que son espacios en los cuales se pueden sembrar una mayor variedad de especies vegetales.

    #tema-12.header-ecored
        h2 1.2 Zonas Duras

    p Con el paso del tiempo se ha descubierto que la agricultura urbana no sólo es realizada por poblaciones vulnerables de estratos económicos bajos, sino que también la desarrollan personas pertenecientes a estratos económicos altos, que con el boom de la vida sana, desean proveer a sus familias alimentos limpios producidos por ellos mismos, además, consideran las actividades realizadas en los huertos, como una importante oportunidad para liberar el estrés y entrar en contacto con la naturaleza. 

    p.text-center.my-5
        img(src="assets/images/pages/tema-1/t2.svg").img-fluid.mb-3.mb-md-0 
        
    .header-arrow.my-5
        h3.text-center Los principales recipientes o contenedores utilizados en las zonas duras son:
            
    p.text-center.my-5
        img(src="assets/images/pages/tema-1/recipientes.svg").img-fluid.mb-3.mb-md-0             

    p La selección de uno de estos recipientes para la siembra de una especie determinada, depende de varios factores como: las características de la planta que se va a sembrar, como por ejemplo, si es un arbusto o una hierba; la parte aprovechables de la planta, es decir, sí se utilizan sus frutos, sus hojas, sus flores o sus raíces. También es importante determinar si el cultivo va a ser al aire libre o en un ambiente protegido.

    p Las dimensiones del recipiente utilizado para la siembra debe garantizar el alojamiento de la cantidad de sustrato necesario que permita el crecimiento, desarrollo y producción del cultivo. 

    p Es muy importante dentro del tema de zonas duras, todo lo relacionado con el sistema de drenaje que deben tener para evitar el encharcamiento y la acumulación de agua y sales nutritivas.	   
    
    a(href="media/documentos/anexo_tema-21.pdf" target="_blank").media-link.my-5      
    
        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

        .media-link-title
            p #[strong Anexo]. Balance del programa de agricultura urbana liderado por el Jardín Botánico de Bogotá José Celestino Mutis    